@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Creepster&family=Grenze+Gotisch:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Creepster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background-color: #2B2D42;
}

main {
    display: grid;
    grid-template-columns: 1/3;
    grid-template-rows: 1/4;
    background-color: #8D99AE;
}
#title {
    grid-column: 1/2;
    grid-row: 1/2;  
}
nav {
    grid-column: 2/3;
    grid-row: 1/2;
    display: inline;
    justify-content: space-around;
    z-index: 1;
    background-color: #2B2D42;
    font-size: 25px;
    text-decoration: none;
    font-family: "Grenze Gotisch", sans-serif;
    color: white;
    padding: 30px;
    border-radius: 5%;
    max-height: 60px;
    min-height: 60px;
    margin-top: 10px;
    word-spacing: 10px;
}
a {
    color: white;
}
img {
    width: 50%;
    padding: 10%;
    border-radius: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Grenze Gotisch", sans-serif;
    color: black;
    font-size: 3em;
    padding: 30px;
    border-radius: 5px;
    background-color: #D80032;
    max-height: 60px;
    min-height: 60px;
    margin-top: 10px;
}
.wrapper {
    background-color: #2B2D42;
}

p {
    font-family: Roboto, Helvetica, sans-serif;
    color: var(--paragraph-color-on-white);
    font-size: 25px;
    padding: 30px;
    color: #EDF2F4;
    z-index: 1;
    background-color: #2B2D42;
    max-height: 300px;
    margin-top: 10px;
    min-height: 150px;
    padding-bottom: 50px;
}
#me {
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 10px;
}
#me_pic {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 5% 15% 15% 15%;
    border-width: 20px;
    border-color: #D80032;

}
#me_at_piano {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 80%;
}

#childhood {
    grid-column: 2/3;
    grid-row: 3/4;
}
footer {
    background-color: #2B2D42;
    color: black;
    padding: 15px 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 50px;
}
footer a {
    color: #EDF2F4; 
    text-decoration: none;
}
footer a:hover {
    color: black;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.social img {
    
    max-height: 50px;
    display: grid;
    grid-template-columns: 1/4;
    width: 80%;
    
}
#f {
    grid-column: 1/2;
}
#t {
    grid-column: 2/3;
}

#i {
    grid-column: 3/4;
}